body
{
	margin:0px;
	background-color:rgb(201,222,255);
}

/*------------Navbar Styles------------*/

nav
{
	background:linear-gradient(45deg,rgb(141,150,255),rgb(43,60,250));
	height:70px;
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:space-between;
}
nav h1
{
	margin:0px;
	font-size:40px;
	margin-left:50px;
}

nav h1 img
{
	width:50px;
	height:50px;
	position:relative;
	top:10px;
	padding-right:4px;
}

nav .links a
{
	color:white;
	text-decoration:none;
	margin:25px;
	background-color:rgb(11,17,92);
	padding:6px 20px;
	border-radius:10px;
	position:relative;

}

nav .links a:hover
{
	box-shadow:0 0 10px white;
}
.fa
{
	padding-right:3px;
}


@media (max-width:1000px)
{
	nav 
	{
		flex-direction:column;
		height:150px;
	}
	nav .links a
	{
		top:-34px!important;
	}
}

@media (min-width:0px) and (max-width:650px)
{
	nav .links a
	{
		display:block;
		width:100%;
		top:10px;
	}
	nav
	{
		height:300px;
	}
	nav .links
	{
		position:relative;
		top:20px;
	}
}

/*-------------Landing Page-------------*/
.landing
{
	background:white url("../images/bgimg1.jpg") no-repeat scroll center;
	background-size:cover;
	height:100vh;
}
.landing .wrapper
{
	text-align:center;
	background-color:rgba(0, 0,0,0.7);
	height:100%;
	display:flex;
	align-items:center;
	justify-content:center;
	flex-direction:column;
	color:whitesmoke;
}
.landing .wrapper h1
{
	margin:0px;
	font-size:40px;

}

.landing .wrapper button
{
	 background-color:lightblue;
	 outline:none;
	 border:none;
	 padding:10px 30px;
	 color:darkblue;
	 border-radius:20px;
	 font-weight:bold;
}
.landing .wrapper button:hover
{
	box-shadow:0 0 10px white;
}

/*------Main Content---------*/

#main-content-section
{
	text-align:center;
	margin:15px;
}
.main-content-article
{
	border:2px solid darkblue;
	width:330px;
	/*display:inline-block;*/
	display:inline-grid;
	height:450px;
	border-radius:0px 30px 0px 30px;
	margin:5px;
	transition:all 1s;
}
.main-content-article img
{
	width:100%;
}

.main-content-article h2
{
	color:darkblue;
}
.main-content-article:hover
{
	box-shadow:0 0 10px blue;
	cursor:pointer;
	width:340px;
}

/*---------Main News Section----------*/
#main-news-section
{
	width:80%;
	margin:auto;
}
.main-news-article
{
	box-shadow:0 0 10px blue;
	border-radius:15px;
}

.main-news-article h2
{
	background:linear-gradient(45deg,rgb(141,150,255),rgb(43,60,250));
	padding:20px;
	text-align:center;
	border-radius:15px 15px 0px 0px;
	color:white;
	font-size:30px;
}

.zoom
{
	width:600px;
	height:300px;
	margin:auto;
	box-shadow:0 0 10px blue;
	border-radius:10px;
	overflow:hidden;
}

.zoom img
{
	width:inherit;
	height:inherit;
	border-radius:10px;
	transition:all 1s;
}
.zoom:hover img
{
	transform:scale(1.2,1.2);
}

.main-news-article p
{
	padding:10px;
	font-size:20px;
}

@media (min-width:0px) and (max-width:800px)
{
	.zoom
	{
		width:400px;
	}
}

@media (min-width:0px) and (max-width:500px)
{
	.zoom
	{
		width:300px;
	}
}

/*-----------Main Footer----------------*/
footer
{
	background:linear-gradient(45deg,rgb(141,150,255),rgb(43,60,250));
	text-align:center;
}